<div class="row marketing">


  <div ng-app="maintainClient.app">
    <div ng-controller="MaintainClientController as maintainClientController">
      <h2>Add Client</h2>
      <input type="text" ng-model="maintainClientController.clientInfo.firstName" placeholder="First Name">
      <input type="number" ng-model="maintainClientController.clientInfo.IDNumber" placeholder="ID Number">
      <input type="text" ng-model="maintainClientController.clientInfo.status" placeholder="Status" disabled>
      <button name="addPerson" ng-click="maintainClientController.addPerson(maintainClientController.clientInfo)">Add
        Client
      </button>
      <div id="grid1" ui-grid="maintainClientController.gridOptions" ui-grid-selection class="grid"></div>
    </div>
    <div ui-view></div>
  </div>
</div>
